In [1]:
import csv
import pandas as pd
import numpy as np
import weights_matrix as wm

In [2]:
data_directory = 'data/'

In [3]:
df = pd.read_csv(data_directory + 'train_subsample.csv')
metadata = pd.read_csv(data_directory + 'item_metadata.csv')

In [4]:
metadata.head()

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3     5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4     6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...

In [5]:
metadata['properties'] = metadata['properties'].apply(lambda x: x.replace("|"," "))
metadata.head()

   item_id                                         properties
0     5101  Satellite TV Golf Course Airport Shuttle Cosme...
1     5416  Satellite TV Cosmetic Mirror Safe (Hotel) Tele...
2     5834  Satellite TV Cosmetic Mirror Safe (Hotel) Tele...
3     5910  Satellite TV Sailing Cosmetic Mirror Telephone...
4     6066  Satellite TV Sailing Diving Cosmetic Mirror Sa...

In [6]:
df_weight = wm.prepare_dataset(df)

(R, (user_id_labels, user_id_levels), (session_id_labels, session_id_levels), (reference_labels, reference_levels)) = wm.sparse_matrix(df_weight)

C:\Users\Daniel Ly\Documents\recsys2019\weights_matrix.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  one_hot_action_type['clickout item'] * 2.0

In [7]:
df_weight.head()

        user_id     session_id reference  weight
0  009CW4ANLHRW  2344ee05e8253    104499     2.0
1  009CW4ANLHRW  2344ee05e8253   1052528     2.0
2  00D7BLIL11VE  00b2d3148c75f   1015401     1.0
3  00D7BLIL11VE  00b2d3148c75f    103530     1.0
4  00D7BLIL11VE  00b2d3148c75f   1107466     1.0

In [8]:
df_weight.shape

(9363, 4)

In [9]:
from Recommender_CB import ContentBasedRecommender

In [10]:
cbr = ContentBasedRecommender()
cbr.build_model(df_weight,metadata)

print(cbr.recommend('009CW4ANLHRW'))
print(cbr.recommend('00D7BLIL11VE'))

[1285564  914579 1336922 1749067   44773   23865  151988  321826 3163166
 4109918 4524428   62837   37743 1109068 1836241    5739   14817   41692
  261342  916231  100634    9137]
[1285564 1749067  914579   23865 1336922  151988 3163166  321826   44773
   51237  916231 2129534  100634   83722  120939  917115  922459 1394496
 1109068  130349  103454   62837   14945   24821    6795 2025321    5525]