In [1]:
import csv
import pandas as pd
import numpy as np
import weights_matrix as wm

In [2]:
data_directory = 'data/'

In [3]:
df = pd.read_csv(data_directory + 'train_subsample.csv')
metadata = pd.read_csv(data_directory + 'item_metadata.csv')

In [4]:
metadata.head()

   item_id                                         properties
0     5101  Satellite TV|Golf Course|Airport Shuttle|Cosme...
1     5416  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
2     5834  Satellite TV|Cosmetic Mirror|Safe (Hotel)|Tele...
3     5910  Satellite TV|Sailing|Cosmetic Mirror|Telephone...
4     6066  Satellite TV|Sailing|Diving|Cosmetic Mirror|Sa...

In [5]:
metadata['properties'] = metadata['properties'].apply(lambda x: x.replace("|"," "))
metadata.head()

   item_id                                         properties
0     5101  Satellite TV Golf Course Airport Shuttle Cosme...
1     5416  Satellite TV Cosmetic Mirror Safe (Hotel) Tele...
2     5834  Satellite TV Cosmetic Mirror Safe (Hotel) Tele...
3     5910  Satellite TV Sailing Cosmetic Mirror Telephone...
4     6066  Satellite TV Sailing Diving Cosmetic Mirror Sa...

In [6]:
df_weight = wm.prepare_dataset(df)

(R, (session_id_labels, session_id_levels), (reference_labels, reference_levels)) = wm.sparse_matrix(df_weight)

C:\Users\Daniel Ly\Documents\recsys2019\weights_matrix.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  one_hot_action_type['clickout item'] * 2.0

In [7]:
df_weight.head()

      session_id reference  weight
0  006d537671316     16545     3.0
1  009fc4faa6aaa   1448945    30.0
2  009fc4faa6aaa     40253    18.0
3  009fc4faa6aaa     40439    11.0
4  00a5f3f36fd16   1018349     2.0

In [8]:
df_weight.shape

(9363, 3)

In [9]:
from Recommender_CB import ContentBasedRecommender

In [10]:
cbr = ContentBasedRecommender()
cbr.build_model(df_weight,metadata)

print(cbr.recommend('2344ee05e8253'))
print(cbr.recommend('00b2d3148c75f'))

[1285564  151988 1749067   97029  916231   14945   23865   62837   83722
   14817 4109918   39283 2050133 1836241 1394496 1832093 3163166 1336922
 3136519  917115  478451   37743]
[1285564   23865  914579 1336922  151988  321826 1749067   44773 3163166
   62837  916231 1394496  100634 1109068  917115 4109918   14945  120939
  922459 4524428   83722 1836241 2050133   82714 1500421   39283    6795]